@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 80px; /* Compensa a altura do header fixo */
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A855F7;
}

/* Utilitário para scrollbar interna do modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.5);
  border-radius: 3px;
}